.curricula-page {
  padding: 40px;
  max-width: 2400px;
  margin: 0 auto;
  font-size: 20px;
}

.back-button {
  padding: 20px 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 20px;
}

.back-button:hover {
  background-color: #45a049;
}

.download-button {
  padding: 15px 30px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 30px;
}

.download-button:hover {
  background-color: #45a049;
}



.curricula-details {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.disciplines-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.discipline-card {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: calc(50% - 20px);
  min-width: 600px;
}

.discipline-card h4 {
  margin-top: 0;
  font-size: 24px;
}

.discipline-card ul {
  list-style-type: none;
  padding: 0;
}

.discipline-card li {
  margin-bottom: 20px;
  font-size: 20px;
}

.teacher-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teacher-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.teacher-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.question-mark {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #666;
}

.photo-input {
  font-size: 24px;
}
