.header {
  background-color: #009B95;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-button {
  width: 115px;
  height: 115px;
  top: 7px;
  left: 12px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 40px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-role {
  background-color: #f0f0f0;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}



.rounded-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 70%;
  max-width: 1200px;
  height: 69px;
  border-radius: 67px;
}

.rounded-box h1{
  text-align: center;
}
